---
// Importa el layout y el dataset
import Layout from '../../layouts/Layout.astro';
import { nacionales } from '../../data/nacionales';

// Obtener el parámetro dinámico `id` de la URL
const { id } = Astro.params;

// Buscar la excursión correspondiente por su id
const nacionalInfo = nacionales.find((nacional) => nacional.id === id);

// Mostrar error si no se encuentra la excursión
if (!nacionalInfo) {
  throw new Error(`Excursión con id '${id}' no encontrada.`);
}
---

<Layout title={`Excursión ${nacionalInfo.nombre}`} isHomePage={false}>
  <!-- Contenido de la página -->
  <div class="text-center">
    <h1 class="text-3xl font-bold mb-7">{nacionalInfo.nombre}</h1>
    <p class="text-lg text-gray-600">{nacionalInfo.detalles}</p>
    <!-- Aquí puedes agregar más contenido -->
  </div>
</Layout>