---
import Layout from '../../layouts/Layout.astro';
import { nacionales } from '../../data/nacionales';

const { id } = Astro.params;
const nacionalInfo = nacionales.find((nacional) => nacional.id === id);

if (!nacionalInfo) {
  throw new Error(`Excursión con id '${id}' no encontrada.`);
}
---

<Layout title={`Excursión ${nacionalInfo.nombre}`} isHomePage={false}>
  <div class="bg-white">
  <!-- Header -->
  <div class="relative">
    <img
      src={`/images/${nacionalInfo.img}`}
      alt={`Imagen de ${nacionalInfo.nombre}`}
      class="w-full h-96 object-cover"
    />
    <div class="absolute inset-0 flex flex-col justify-center items-center text-white bg-black bg-opacity-40">
      <h1 class="text-4xl font-bold">{nacionalInfo.nombre}</h1>
      <button class="mt-4 bg-teal-500 hover:bg-teal-600 text-white font-semibold py-2 px-4 rounded">
        ¿Qué incluye?
      </button>
    </div>
  </div>

  <!-- Detalles -->
  <div class="px-6 py-12 md:px-20 lg:px-32">
    <h2 class="text-3xl font-bold mb-6 text-blue-900">Detalles</h2>
    <p class="text-lg text-gray-700 leading-relaxed mb-10">
      {nacionalInfo.detalles}
    </p>
    <h2 class="text-2xl font-bold mb-4 text-blue-900">Incluye:</h2>
    <ul class="list-disc list-inside mb-6">
      {nacionalInfo.incluye.map((item) => (
        <li>{item}</li>
      ))}
    </ul>
    <h2 class="text-2xl font-bold mb-4 text-blue-900">No Incluye:</h2>
    <ul class="list-disc list-inside mb-6">
      {nacionalInfo.noIncluye.map((item) => (
        <li>{item}</li>
      ))}
    </ul>
    <h2 class="text-2xl font-bold mb-4 text-blue-900">Precios:</h2>
    <ul class="list-disc list-inside mb-6">
      <li>Adulto: {nacionalInfo.precios.adulto}</li>
      <li>Niño: {nacionalInfo.precios.niño}</li>
      <li>Descuento: {nacionalInfo.precios.descuento}</li>
    </ul>
    <h2 class="text-2xl font-bold mb-4 text-blue-900">Coordinador:</h2>
    <p class="text-lg text-gray-700 leading-relaxed mb-10">
      Nombre: {nacionalInfo.coordinador.nombre}<br>
      Teléfono: {nacionalInfo.coordinador.telefono}<br>
      Email: {nacionalInfo.coordinador.email}
    </p>
    <a href={`/flyers/${nacionalInfo.flyer}`} class="text-blue-500 underline mt-4 block">Descargar Flyer</a>
  </div>
</Layout>